<h1>New Internship Offer</h1>

<p> A new internship offer was added in IMI-Map website</p>

<p>
  <blockquote>
  Title:  <strong><%= @offer.title %> </p></strong>
  </blockquote>
</p>
<p> 
  <blockquote>
  Description:  <em><%= @offer.body %> </p></em>
  </blockquote>
</p>
<p>
  Visit here to see full internship offer 
  <%= link_to "link", @title %>
</p>

