<div class="margin_bottom_10">

  <div id="form-block4">
    <div class="text-left">
      <h3><%= t "postponements.application.header" %></h3>
      <div class="pl-3">

        <%= render 'form', postponement: @postponement %>
      </div>
      <%= link_to 'Show', @postponement %> |
      <%= link_to 'Back', postponements_path %>
    </div>
  </div>
</div>
