<h1><%= t "search.title" %></h1>

<div class="card-deck">

    <div class="card" style="width: 18rem;">
        <h5 class="card-header">Countries</h5>
        <div class="card-body">
            <ul id="search-countries" class="list-group list-group-flush">
                Example
                <span class="badge badge-primary badge-pill">14</span>
            </ul>

        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <ul id="search-orientations" class="list-group list-group-flush">
            <li class="badge badge-primary">Example</li>
        </ul>
    </div>


    <div class="card" style="width: 18rem;">
        <ul id="search-countries" class="list-group list-group-flush">

        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Small
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Mid-Size
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Large
            </label>
        </div>
    </div>
</div>
