<% if Date.today.month == 6 && Date.today.day == 10 && @current_user.try(:email) == "prof@htw-berlin.de"%>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Alles Gute zum Geburtstag!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
      <br>  Lieber Professor Kleinen,<br><br>
        wir wünschen Ihnen von Herzen alles Gute zum Geburtstag, ein frohes neues Lebensjahr und eine tolle Feier.
        <br><br>Die drei IMImap-Bastler*innen<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
