<% if @company_location_json.nil? %>
  No Companies to show on Map.
<% end %>

<div id="mapid" style="width: 100%; height: 800px;"></div>
<%= tag.div id: 'map-data', data: {"zoom": @zoom, "locations": @company_location_json }%>
