<div id="form-block4" class="text-left">
  <h2><%= t 'complete_internships.edit' %></h2>

  <div class="ml-5 mb-5">
    <%= render 'form', complete_internship: @complete_internship %>
  </div>

  <%= link_to t('buttons.edit'), @complete_internship %> |
  <%= link_to t('buttons.back'), :back %>
</div>
