<div id="form-block4" class="text-left">
  <h2>New Complete Internship</h2>

  <%= render 'form', complete_internship: @complete_internship %>

  <% if current_user.student? %>
    <%= link_to 'Back', my_internship_path %>
  <% else %>
    <%= link_to 'Back', complete_internships_path %>
  <% end %>
</div>
