<div id="form-block4" class="text-left">
  <h1>New Complete Internship</h1>

  <%= render 'form', complete_internship: @complete_internship %>

  <%= link_to 'Back', complete_internships_path %>
</div>
