<div id="form-block4" class="text-left">
  <h2><%= t 'complete_internships.new' %></h2>

  <div class="ml-5 mb-5">
    <%= render 'form', complete_internship: @complete_internship %>
  </div>

  <% if current_user %>
    <% if current_user.student? %>
      <%= link_to t('buttons.back'), my_internship_path %>
    <% end %>
  <% else %>
    <%= link_to t('buttons.back'), complete_internship_path %>
  <% end %>
</div>
