<div id="form-block4" class="text-left">
	<h2 class="intern-head"> <%= t"internships.details" %></h2>

	<% if current_user.student? %>
	<div id="askForCreation">
		<%= t "internships.createInternship" %>
		<br />
		<%= link_to t("internships.createYourInternship"),  new_complete_internship_path(@complete_internship) %>
		<br />
	</div>
	<% end %>
</div>
