<h1>Help</h1>
<h2>I don't know what to enter in a field of the internship application form</h2>
<p>Leave those fields blank where you are unsure about what to enter.
Print the application form anyway and discuss the missing fields with the
internship officer when handing in the form.</p>
<h2>I have another problem. What should I do?</h2>
<ol class="list-marker-inside">
  <li>Look at the <a href="https://imi-bachelor.htw-berlin.de/studium/praktikum/">Checklist</a>.</li>
  <li>If your question wasn't answered on the website, send an email to <a href="mailto:imi-praktikum@htw-berlin.de">the internship team</a>.</li>
</ol>
