<% #  company search: no match found, create new company %>
<div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <h3>
            <%= t("companies.no_match") %>
        </h3>
          <li class="list-group-item">
              <%= link_to params[:name], new_company_path(:name => params[:name], :internship_id => params[:internship_id])%>
          </li>
      </ul>
    </div>
  </div>
