<div id="form-block4" class="text-left">

  <h3><%= t ".editcompany" %></h3>
  <%= render 'form' %>
  <% if @current_user.student %>
  <%= link_to (t "buttons.back"), complete_internship_path(@current_user.student.complete_internship)%>
  <% end %>

</div>
