<div id="form-block4" class="text-left">
  <h3><%= t ".newcompany" %></h3>
  <%= render 'form' %>
  <%= link_to (t "buttons.back"), 'javascript:history.back()' %> | <%= link_to t('buttons.back_to_overview'), path_to_complete_internship %>
</div>
