<div id="form-block4" class="text-left">

<div class="container">
  <%= bootstrap_form_tag do |f| %>
  <%= f.hidden_field :i, :value => params[:internship_id] %>


  <h3>Company Details</h3>
  <p>Give the name of your internship company :</p>
  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles">
      <%=f.text_field :name %>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles2">

        <%= f.button  :submit%>
      
      </div>
    </div>
  </div>

<% end %>
</div>
</div>
