<div class="margin_bottom_10">
<div id="form-block4" class="text-left mb-auto">
    <h4><%= t("search.header")%></h4>
    <br>
    <%= render 'form_search'%>
    <br>
    <%= render 'search_results'%>
    <br>
    
</div>
</div>
