<div style= "height: 1200px" >
  <div class="tab" >
    <button class="tablinks round-tab" onclick="openCity(event, 'student')" id="defaultOpen">Personal Details</button>
    <button class="tablinks round-tab" onclick="openCity(event, 'company')">Company Details</button>
    <button class="tablinks round-tab" onclick="openCity(event, 'internship')">Internship Details</button>
  </div>
  <%= bootstrap_form_for(@internship) do |f| %>
  <%= render 'form_student', f: f %>
  <%= render 'form_company', f: f %>
  <%= render 'form_internship', f: f %>

  <% end %>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
</div>
