<div id="form-block4" class="text-left">

  <small><%= t "forms.what_do_stars_mean1" %></small><br>
  <small><%= t "forms.what_do_stars_mean2" %></small>
  <h3><%= t ".editinternship" %></h3>

  <%= render 'form_internship' %>
</div>
