<p id="notice"><%= notice %></p>

<h2 class="intern-head"> <%= t"internships.details" %></h2>
<div class="askForCreation">
  <%= t "internships.createInternship" %>
  <!--Create a new Internship-->
  <!--GO back -->
</div>
