/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require jquery-ui
 *= require jquery-ui/slider
 *= require_tree .

 */


.navigation-inside {
  margin: 5%;
}

.navigation-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.15);
}


.navigation-container {
  max-width: 80%;
  margin: 0 auto;
}

nav {

  float: right;
  margin-right: 25%;
  //margin-top: 2.5%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;

      // this a style element got overwritten by the style on adminactive css
      a {

        padding: 20px 20px;
        line-height: 70px;
        background: transparent;


        &:not(:only-child):after {

          content: ' ▾';
        }
      }

      ul li {
        min-width: 150px;
        min-height: 50px;

        //this too
        & a {
          padding: 15px;
          line-height: 20px;

          z-index: 1;

        }
      }
    }
  }
}

.test {
  //background: #ffffff;
}


.navigation-mobile {
  display: none;
}

#navigation-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  //padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #00ff00;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }

  // create x animation
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}


// this is for mobile
@media only screen and (max-width: 960px) {

  .navigation-mobile {
    display: block;
    margin-top: 5%;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 50px;
    width: 50px;

  }
  nav {
    width: 100%;
    padding: 50px 0 15px;
    margin-right: 0%;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }

  .navigation-dropdown {
    position: static;
  }
}

@media screen and (min-width: 960px) {
  .navigation-list2 {
    display: block

  }
}

.navigation {
  //height: $nav-height;
  //background: $nav-background;
}


#en {
  background-image: image-url('images/en.gif');
  background-repeat:repeat-y;
 }


#de {
  background-image: image-url('images/de.png');
  background-repeat: repeat-y;
}

.green-thumb {
	color: #8bb900 !important;
}

.red-thumb {
	color: #b90000 !important;
}
