// Place all the styles related to the ReportOverview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headColor {
  background: #77b900;
}

.responsive-table {

}

.button-report-overview {

  float: right;
  margin-right: 5em;
}

@media only screen and (max-width: 720px) {
  .responsive-table {
    margin-top: 20%;
    overflow-x: auto;
  }

  .button-report-overview {


    float: none;
  }

}

