/*
 *= require map
 */

* {
  //z-index: 0 !important;
}

.navbar.navbar-inverse.top-bar.login-nav {
  //z-index: 900 !important;
  padding:0;
  margin:0 0 -7px;
}

#startbody {
  overflow-x: hidden !important;
  background-image: none !important;
  background-color: #3f3f3f;
}

#startbody .navbar {
  height:18% !important;
  min-height: 120px;
}

.login-nav {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
}

.login-items {
  position: absolute;
  float: right;
  height: 100%;
  width: 100vw;
}

.plane {
  position: absolute;
  z-index: 3;
}
.logo {
  position: absolute;
  width: 11vw !important;
  height: auto;
  margin-top: 15px;
  margin-left: 14%;
}

.world * {
  position: absolute !important;
  width: 11vw !important;
  height: auto;

}

.plane * {
  width: 11vw !important;
  height: auto;
}


.logo * {
  position: absolute;
}

.input-items {
  float: right;
  width: 600px;
}

.input-items div {
  padding: 35px 0 0 0;
  width: 250px;
  display: inline-block;
}

#submit {
  width: auto;
}

form input[type=submit] {
  background-color: #538200;
}


.login_footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3%;
  min-height: 10px;
  background: #3f3f3f;
  background-size: 120%;
}
