
.logo {
  position: absolute;
  top: 20px;
  left: 200px;
  height: 50px;
  width: 50px;
}

.plane {
  z-index: 3;
}

.logo * {
  position: absolute;
}

.input-items {
  margin-top: 20px;
  position: absolute;
  right: 50px;
  width: 600px;
}

.input-items div {
  display: inline-block;
  width: 240px;
}

#submit {
  width: auto;
}

form input[type=submit] {
  background-color: #538200;
}

#mapid {
  position: relative;
  height: 500px;
  width: 900px;
}

.startmap {
  height: 85% !important;
  width: 100vw !important;
  margin:0;
  top: 100px;
  left: 0;
  z-index: -1;
}

.login_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #3f3f3f url("topbar-over.png") no-repeat;
  background-size: 120%;
}