<div class="row">
  <!-- Column Chart -->
  <div class="col-xs-6">
    <h3>Total number visits per country</h3>
    <%= column_chart Company.group(:country).count, colors: ["#77b900", "#999"]%>
  </div>
  <div class="col-xs-6">
    <h3>Total number of internships sorted by semester</h3>
    <%= column_chart @internships.group(:semester).count, colors: ["#77b900", "#999"]%>
  </div>
  <div class="col-xs-6">
    <h3>Total number of internships sorted by orientations</h3>
    <%= column_chart @internships.group(:orientation).count, colors: ["#77b900", "#999"]%>
  </div>
  <div class="col-xs-6">
    <h3>Countries visited by IMI-Students</h3>
    <%= geo_chart Company.group(:country).count,  width: "800px", height: "500px", colors: ["#77b900", "#999"] %>
  </div>
</div>