<footer class="mt-5 mx-0 mb-0">
<div class="container m-0">
  <div class="im-items">
    <div class="imi_logo"></div>
    <div class="htw_logo"></div>
     <div class="footer-text"><%= render 'version/version' %> - Projekt im Studiengang Internationale Medieninformatik der HTW Berlin.</div>
     <br>
     <div class="footer-text"><a href="https://www.htw-berlin.de/datenschutz/" target="_blank"><%= t 'privacy_policy' %></a></div>
  </div>
</div>
</footer>

<%= debug(params) if Rails.env.development?%>
