<footer class="m-0">
<div class="container m-0">
  <div class="im-items">
    <div class="imi_logo"></div>
    <div class="htw_logo"></div>
     <div class="footer-text"><%= render 'version/version' %> - Projekt im Studiengang Internationale Medieninformatik der HTW Berlin.</div>
  </div>
</div>
</footer>

<%= debug(params) if Rails.env.development?%>
