<div class = "container-fluid imi-map-navigation">
  <div class = "row">
    <div class = "col-12">
    <%= render 'navigation_right' %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-12">
    <%= render 'navigation_main' %>
  </div>
</div>
</div>
