<div class = "container imi-map-navigation">
    <div class="navbar navbar-inverse">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div id="top-menu">
            <%= link_to "",overview_index_path, class: "navbar-brand" %>
            <!-- Be sure to leave the brand out there if you want it shown -->

            <%= render 'navigation_right' %>
            <%= render 'navigation_main' %>

            </div>
          </div>
          <!-- .nav, .navbar-search, .navbar-form, etc -->
        </div>

      </div>
  </div>
</div>
