<small><label class = "required"><%= t 'forms.required.label' %></label> <%= t 'forms.required.required' %></small></br>
<small><label class = "required_application mb-5"><%= t 'forms.required.label' %></label> <%= t 'forms.required.required_application' %></small>
