<div class="d-flex justify-content-center pb-3">
  <div class="mt-1">
    <%= t 'internships.index.show' %>
  <%=
  option_is_all = !(@semester_options_all.nil? || !@semester_options_all)
  semester_id = option_is_all ? -1 :  @semester.id
  select_tag(:semester_id,
               options_for_select(@semester_options,semester_id),
               onchange: "this.form.submit();", 
               class: 'chzn-select',
               id: 'semester_select') %>
  </div>
  <%= submit_tag t('internships.index.select'), class: "btn btn-sm btn-outline-success ml-2" %>
</div>
